<header>
    <mat-toolbar color="primary">
        <div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <a mat-stroked-button color="" [routerLink]="['/home-page']" (click)="updatePage(0)">Home</a>
            <a mat-stroked-button color="" [routerLink]="['/data-page']" (click)="updatePage(1)">Data</a>
            <a mat-stroked-button color="" [routerLink]="['/how-to-come-page']" (click)="updatePage(2)">How To Come ?</a>
            <a mat-stroked-button color="" [routerLink]="['/movie-page']" (click)="updatePage(3)">Movies</a>
            <a mat-stroked-button color="" [routerLink]="['/profil-page']" (click)="updatePage(4)">Your Profile</a>
            <a mat-stroked-button color="" [routerLink]="['/reservation-page']" (click)="updatePage(5)">Reservation</a>
            <a mat-stroked-button color="" [routerLink]="['/user-page/signin']" (click)="updatePage(6)">Sign In Now !</a>
            <a mat-stroked-button color="" [routerLink]="['/user-page/signup']" (click)="updatePage(7)">Sign Up Now !</a>
            <a mat-stroked-button color="" [routerLink]="['/timetable-page']" (click)="updatePage(8)">Session</a>
            <a mat-stroked-button color="" [routerLink]="['/user-page/']" (click)="updatePage(9)">User</a>
        </div>
    </mat-toolbar>

    <p>header works!</p>
</header>