<p>create-time-table works!</p>
<form (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Cinema Room</mat-label>
            <mat-select [(value)]="sessionJSON.idCinema">
                <mat-option *ngFor="let room of allRoom" [value]="room">
                    {{ room.roomName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Movie</mat-label>
            <mat-select [(value)]="sessionJSON.idMovie">
                <mat-option *ngFor="let movie of allMovie" [value]="movie">
                    {{ movie.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" >
            <mat-label>DATE</mat-label>
            <input matInput name='date' type=date [(ngModel)]="sessionJSON.date">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>TIME</mat-label>
            <input matInput name='date' type='time' [(ngModel)]="sessionJSON.time">
        </mat-form-field>
    </div>
    <button mat-button type="submit">SUBMIT NEW SESSION</button>
</form>