<mat-form-field appearance="fill">
    <mat-label>Session to Update</mat-label>
    <mat-select [(value)]="selectedSession">
        <mat-option *ngFor="let session of sessions" [value]="session">
            {{session | json }}
        </mat-option>
    </mat-select>
</mat-form-field>

<form (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>CINEMAROOM ID</mat-label>
            <input matInput name='idCinema' [(ngModel)]="selectedSession.idCinema.roomName" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>MOVIE ID</mat-label>
            <input matInput name='idMovie' [(ngModel)]="selectedSession.idMovie.title" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>DATE</mat-label>
            <input matInput name='date' [matDatepicker]="picker" [(ngModel)]="selectedSession.date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>TIME</mat-label>
            <input matInput name='time' type="time"  [(ngModel)]="selectedSession.time">
        </mat-form-field>
    </div>
    <button mat-button type="submit">TEST SUBMIT</button>
</form>