form {
    text-align: center;
    margin: 24px ;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  mat-card {
      text-align: center;
  }

  mat-card-title {
      margin-bottom: 24px;
  }

