html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit;
	vertical-align: baseline; */
}

body{
    background: linear-gradient(to Bottom, darkred, black ); 
    padding-top: 200px;
}  

header {
    width: 100% ;
    height : 200px ;
    text-align: center;
    position : fixed ;
    top: 0px;

}

main {
    margin : auto ;
    min-height: 100vh ;
    max-width: 800px ;
    border : 1px solid white ;
    border-radius: 5px;
    background-color: black ;
}

footer {
    height: 150px ;
    max-width: 800px;
    padding-top : 50px;
    background-color: black ;
    margin: auto;
}




/* ===========================HEADER======================== */

.app-default-headerlink {
    color: white;
   
}

/******** img ********/

.app-img-cinema {
    /* margin-left: 30px; */
    width: 100%;
    height: 150px;
    background-size: cover;
    display: inline-block;
    opacity: .98;
}


/******** nav ********/

.app-nav-header {
    margin: auto;
    width: 100%;
}

.app-default-headdiv {
    display: inline-block;
    width: 15%;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 5px ;
    padding-bottom: 5px ;
    background: linear-gradient(to Bottom Right, darkred, black );
}

.app-default-headdiv:hover {
    border: 2px solid white;

}

/* ===========================FOOTER======================== */
.app-footer{
    text-align: center;
    height: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.app-default-footerInfo{
    width: 100% ;
    display: flex;
    margin: auto ;
    justify-content: space-between;
    align-items: center ;
}

.app-default-footertitle {
    color: white;
    font-size: 14px;
    margin : auto ;
}



.app-div {
    border-top: 1px solid white; 
    width: 100%;
    margin : auto ;
    display: flex;
    justify-content: space-between;
}

/* Mentions Légales */
.app-CGV-CGU {
    border-top: 1px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.app-CGV-CGU a {
    color : white ;
    margin : auto ;
}

/* copyright */
.app-copyright {
    /* border-top: 1px solid white; */
    
    justify-content: center;
}

.app-copyright {
    display: flex;
    justify-content: space-around;
}

/* liens */
.app-img {
    display: inline-block;
    height: 40px ;
    margin : auto ;
}

/* contact */
.app-contact-p {
    display: inline-block;
    color: white;
    font-size: 12px;
    margin : auto ;
}
.app-horaires-open {
    display: inline-block;
    color: white;
    width: 15% ;
    font-size: 12px;
}

.app-horaires-close
{
    display: inline-block;
    color: white;
    width: 13% ;
    font-size: 12px;
}
.app-horaire-div {
    display: inline-block;
}

.app-copyright {
    color : white ;
    font-size: 12px ;
}

.app-copyright a {
    color : white ;
    font-size: 12px ;
}