/* ===========================Général======================== */

* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
}

* {
    text-decoration: none;
}

body {
    background: linear-gradient(to Bottom, darkred, black);
    text-align: center;
    min-height: 100vh;
}


/* SEPARATEUR */

.separator {
    margin-top: 80px;
    height: 10px;
    background-color: red;
}

a {
    color: white;
}


/* ===========================HEADER======================== */


/******** img ********/

header {
    text-align: center;
}

.app-img-cinema {
    /* margin-left: 30px; */
    width: 95%;
    height: 100px;
    background-size: cover;
    display: inline-block;
    opacity: .98;
    margin-top: 15px;
}


/******** nav ********/

.app-li {
    display: inline-block;
    width: 13%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
}

.app-li:hover {
    border: 2px solid white;
}

.app-li a {
    color: white;
}

.app-nav-ul {
    margin-top: 15px;
    margin-bottom: 15px;
}


}
.app-nav-header {
    margin: auto;
    width: 95%;
}
main {
    min-height: 100vh;
}
h3 {
    color: white;
    padding-top: 5px;
    padding-bottom: 13px;
}

/* ===========================FOOTER======================== */
.app-div {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
}

/* Mentions Légales */
.app-CGV-CGU {
    border-top: 1px solid white;
    color: white;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
}
.app-CGV-CGU {
    border-top: px solid white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.app-CGV-CGU p {
    padding-left: 100px;
}

/* copyright */
.app-copyright {
    /* border-top: 1px solid white; */
    
    justify-content: center;
}
.app-copyright p {
    padding-left: 20px;
}
.app-copyright {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* liens */
.app-img {
    display: inline-block;
    height: 100px;
}

/* contact */
.app-contact-p {
    display: inline-block;
    color: white;
}
.app-horaires {
    display: inline-block;
    color: white;
}
.app-horaire-div {
    display: inline-block;
}

/* button */
.app-button {
    background: linear-gradient(to Bottom, darkred, black);
}
.app-parag {
    color: white
}