<header>
    <mat-toolbar color="primary">
        <div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <a mat-stroked-button color="" [routerLink]="['/home-page']">Home</a>
            <a mat-stroked-button color="" [routerLink]="['/data-page']">Data</a>
            <a mat-stroked-button color="" [routerLink]="['/how-to-come-page']">How To Come ?</a>
            <a mat-stroked-button color="" [routerLink]="['/movie-page']">Movies</a>
            <a mat-stroked-button color="" [routerLink]="['/profil-page']">Your Profile</a>
            <a mat-stroked-button color="" [routerLink]="['/reserFvation-page']">Reservation</a>
            <a mat-stroked-button color="" [routerLink]="['/signin-page']">Sign In Now !</a>
            <a mat-stroked-button color="" [routerLink]="['/signup-page']">Sign Up Now !</a>
            <a mat-stroked-button color="" [routerLink]="['/timetable-page']">Session Timetable</a>
        </div>
    </mat-toolbar>
    <!-- <nav>
        <a [routerLink]="['/home-page']">Home</a> |
        <a [routerLink]="['/data-page']">Data</a> |
        <a [routerLink]="['/how-to-come-page']">How To Come ?</a> |
        <a [routerLink]="['/movie-page']">Movies</a> |
        <a [routerLink]="['/profil-page']">Your Profile</a> |
        <a [routerLink]="['/reservation-page']">Reservation</a> |
        <a [routerLink]="['/signin-page']">Sign In Now !</a> |
        <a [routerLink]="['/signup-page']">Sign Up Now !</a> |
        <a [routerLink]="['/timetable-page']">Session Timetable</a> |
    </nav> -->
    <p>header works!</p>
</header>