<p>quizz-on-phone works!</p>



<mat-card>
    {{currentQuizz.theme}}
</mat-card>
<mat-card>
    {{currentQuizz.question}}
</mat-card>        

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><button mat-raised-button color="primary">{{currentQuizz.answer1}}</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button color="primary">{{currentQuizz.answer2}}</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button color="primary">{{currentQuizz.answer3}}</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button color="primary">{{currentQuizz.answer4}}</button></mat-grid-tile>
  </mat-grid-list>

<mat-card>Réponse : {{showAnswer}} <p> {{answer}} </p> </mat-card>