<div>
    <mat-tab-group selectedIndex="{{savedTab}}" (selectedIndexChange)="updateTab($event)">
        <mat-tab label="Movie">

            <mat-grid-list cols="{{nbColumn}}" rowHeight="512px" gutterSize="{{nbGutterSize}}px" >

                <mat-grid-tile *ngFor="let movie of movies" colspan="{{nbColSpan}}">
                    
                    <mat-card class=".mat-app-background">
                        <img mat-card-image src="{{image(movie)}}" alt="{{movie.title}}" >
                        <mat-card-footer>
                            <mat-card-title>{{movie.title}}</mat-card-title>
                            <mat-card-subtitle>Genre: {{movie.movieGenre}}</mat-card-subtitle>
                        </mat-card-footer>

                      </mat-card>



                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>






        <mat-tab label="Create Movie">
            <app-create-movie></app-create-movie>
        </mat-tab>
        <mat-tab label="Update Movie">
            <app-update-movie></app-update-movie>
        </mat-tab>
        <mat-tab label="Delete Movie">
            <app-delete-movie></app-delete-movie>
        </mat-tab>
    </mat-tab-group>
</div>