<p>quizz-on-phone works!</p>



<mat-card>
    {{currentQuizz.theme}}
</mat-card>
<mat-card>
    {{currentQuizz.question}}
</mat-card>        

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><mat-card>{{currentQuizz.answer1}}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>{{currentQuizz.answer2}}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>{{currentQuizz.answer3}}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card (click)="test()">{{currentQuizz.answer4}}</mat-card></mat-grid-tile>
  </mat-grid-list>

<mat-card>Réponse : {{showAnswer}} <p> {{answer}} </p> </mat-card>