<p>quizz works!</p>

<table>
    <thead>
        <tr>
            <th>quizz</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let q of quizz;">
            <td>{{q.question}}</td>
        </tr>
    </tbody>
</table>
            <mat-card>
                {{currentQuizz.theme}}
            </mat-card>
            <div>
                <mat-card>
                    {{currentQuizz.question}}
                    <span matBadgePosition='above' matBadge="{{nbStatus}}"></span>
                    <p>{{time}} Secondes restantes....</p>
                </mat-card>        
            </div>
 
            <button (click)="onSubmit(1)" mat-raised-button color='{{btnColor1}}'>{{currentQuizz.answer1}}</button>

            <button (click)="onSubmit(2)" mat-raised-button color="{{btnColor2}}">{{currentQuizz.answer2}}</button>

            <button (click)="onSubmit(3)" mat-raised-button color="{{btnColor3}}">{{currentQuizz.answer3}}</button>

            <button (click)="onSubmit(4)" mat-raised-button color="{{btnColor4}}">{{currentQuizz.answer4}}</button>


            <mat-card name='ts-answer' >{{answer}}</mat-card>
            

 
