<mat-grid-list cols="2" gutterSize="24px">

    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>face</mat-icon></mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/profil']">Your Profil</a></button>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/profil/update']">Profil Settings</a></button>
            </mat-card-content>
        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>event</mat-icon></mat-card-header>
            

        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>euro_symbol</mat-icon></mat-card-header>
            

        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>feedback</mat-icon></mat-card-header>
            

        </mat-card>



    </mat-grid-tile>
</mat-grid-list>



