<mat-grid-list cols="2" gutterSize="24px">

    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>face</mat-icon></mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/profil']">My Profil</a></button>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/profil/update']">Profil Settings</a></button>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/password']">Change PassWord</a></button>
            </mat-card-content>
        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>event</mat-icon></mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/reservation']">My Reservations</a></button>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/reservation/delete']">Delete Reservations</a></button>
            </mat-card-content>

        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>euro_symbol</mat-icon></mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/purchase']">My Purchases</a></button>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/reservation/create']">Create Reservation</a></button>
            </mat-card-content>

        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        
        <mat-card>
            <mat-card-header><mat-icon>feedback</mat-icon></mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/comment']">My Comments</a></button>
                <button mat-raised-button color="primary"><a mat-stroked-button color="" [routerLink]="['/user/opinion']">My Room Ratings</a></button>
            </mat-card-content>

        </mat-card>



    </mat-grid-tile>
</mat-grid-list>



