form {
  min-width: 50%;
  margin: auto;
  margin-top: 24px;
}

button {
  margin: 8px;
}

mat-card-title {
  text-align: center;
}

mat-card-header {
  height: 64px;
  margin: 8px;
}

mat-card-content {
  text-align: center;
}

mat-card-header mat-icon {
  position: absolute;
  margin: 48px;
  transform: scale(5);
}

mat-form-field {
  max-width: 400px ;
  display: block;
  margin : auto ;
  margin-bottom : 8px ;
}

a {
  width: 100%;
}

a:hover {
  color: whitesmoke;
}
