<p>create-user works!</p>

<form (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill" >
            <mat-label>Pseudo</mat-label>
            <input matInput name='pseudo' [(ngModel)]="userJSON.pseudo" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" >
            <mat-label>Password</mat-label>
            <input matInput name='pwd' [(ngModel)]="userJSON.pwd">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" >
            <mat-select [(value)]="userJSON.idSecurityLevel" name="SecurityLevel">
                <mat-option *ngFor="let role of accountRoles" [value]="role">
                    {{role.role}}
                </mat-option>
            </mat-select>
            
                <mat-label>Level security</mat-label>
        </mat-form-field>
    </div>

    <button mat-button type="submit">Créer l'utilisateur</button>
    </form>