/* ==============GENERAL=================== */
h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 1;
}
h2 {
    font-weight: 400;
}
body {
    background: linear-gradient(to Bottom, darkred, black);
    text-align: center;
    min-height: 100vh;
}
/* ==============DIV PRINCIPALE=================== */
.app-div-principale {
    display: flex;
    padding: 20px;
    text-align:left;
}
/* ============== Balise FORM =================== */
form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
}

/* ============== FORMULAIRE INSCRIPTION =================== */
.app-formulaire {
    position: relative;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.app-formulaire::after {
    content: "";
    background-color: darkred; 
    width: 100%;
    height: 100%;
}


/* ============== Balise input =================== */
input {
    width: calc(100% - 10px);
    padding: 5px;
}


/* ============== Balise div secondaires du formulaire =================== */

.app-div-secondaire {
    position: relative;
    margin: 10px 0;
}


.app-div-secondaire:hover p {
    color: darkred;
}
.app-div-secondaire input:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 darkred;
    color: darkred;
}
.app-div-secondaire select:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 darkred;
    color: darkred;
}

.name-item input {
    width: calc(50% - 20px);
}

/* ============== Paragraphe =================== */
